/* Importing the font */

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* centering the container */
.container {
  max-width: 1200px;
  margin: 0 auto;

  /* to create the vertical line on the sides */
  position: relative;
}

/* making the height as full page and applying linear gradient */
.layout {
  height: 100vh;
  background-image: linear-gradient(to bottom, #dbeafe, white);
}

/* styling the navbar */
.navbar-root {
  display: flex;
  justify-content: space-between;
  /* aligning the flex items to the center vertically */
  align-items: center;
  /* padding : top-bottom left-right */
  padding: 16px 0px;
}

.logo {
  font-size: 28px;
  color: black;
  font-weight: 600;
}

.links {
  display: flex;
  align-items: center;
  /* gap between flex items */
  gap: 24px;
}

.link-items {
  font-size: 16px;
  text-decoration: none;
  color: #474747;
}

.link-items:hover {
  color: black;
  transition: color 0.2s ease-out;
}

.btn {
  font-size: 16px;
  /* remove all the default styles from button */
  all: unset;
  padding: 8px 14px;
  background-color: #2679f3;
  color: white;
  border-radius: 8px;
  /* shadow on the text, makes it crisp */
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.25);
  /* shadow on the box, makes it stand out */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn:hover {
  background-color: #1360d2;
  transition: all 0.2s ease-out;
}

.hero-root {
  padding: 80px 0;
}

.badge {
  font-size: 14px;
  max-width: 1200px;
  border-radius: 50px;
  background-color: #eeeeee;
  padding: 2px 24px;
  width: fit-content;
  margin: 0 auto;
  border: 1px solid #d9d9d9;

  /* for the arrow svg */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.badge:hover {
  background-color: #e3e3e3;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.hero-title {
  font-size: 70px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.2px;
  line-height: 1.1;
  margin-top: 60px;
}

.hero-subtitle {
  font-size: 24px;
  color: #737373;
  text-align: center;
  max-width: 800px;
  margin: 100px auto;
  line-height: 1.5;
}

.hero-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 40px;
}

.btn-primary {
  all: unset;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background-color: #2679f3;
  color: white;
  border-radius: 8px;
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: #1360d2;
  transition: all 0.2s ease-out;
}

.btn-secondary {
  all: unset;
  background: transparent;
  box-shadow: none;
  font-size: 24px;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 20px;
}

.btn-secondary:hover {
  background-color: #eeeeee;
  transition: all 0.3s ease-out;
}

.left-line {
  height: 200%;
  width: 0.5px;
  background-color: rgb(200, 200, 200);
  position: absolute;
  left: -20px;
  opacity: 0.3;
}

.right-line {
  height: 200%;
  width: 0.5px;
  background-color: rgb(200, 200, 200);
  position: absolute;
  right: -20px;
  opacity: 0.3;
}

.hero-image-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 1100px;
  height: 600px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  object-position: top left;
}

.horizontal-line {
  height: 0.5px;
  width: 100%;
  background-color: rgb(200, 200, 200);
  position: absolute;
  top: -20px;
  opacity: 0.3;
}
